*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f3cbb0;
    padding: 10px 20px;
    height: 80px;
  }
  
  .navbar__logo {
    color: #fff;
    font-size: 1.5em;
    font-weight: bold;
  }

  .navbar__links {
    display: flex;
    gap: 70px;
  }
  
  .navbar__button {
    background-color: #ee8640;
    color: #fff;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 20px;
    font-size: 1em;
    transition: background-color 0.3s;
  }
  
  .navbar__button:hover {
    background-color: #c9f7fa;
    transform: rotateX(45deg);
  }
  
  .navbar__search {
    display: flex;
    align-items: center; /* Center align the search icon and input */
  }

  .navbar__search-icon {
    margin-right: 10px; /* Space between icon and input */
    font-size: 1.2em; /* Adjust icon size */
    color: #121313; /* Icon color */
  }
  
  .navbar__search-input {
    padding: 10px;
    font-size: 1em;
    border: 2px solid #121313;
    border-radius: 20px;
    width: 300px;
  }

.home_div1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.home_main_img {
    width: 50%;
    height: auto;
    border-radius: 10px;
}

.home_div2 {
    width: 50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.home_heading {
    font-size: 2.5em;
    font-weight: bold;
    margin-bottom: 10px;
}

.home_description {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.home_help {
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.home_help:hover {
    background-color: #0056b3;
}
